/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos do botão de compartilhamento */
#shareWhatsAppBtn {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: none; /* Inicialmente oculto */
}

#shareWhatsAppBtn:hover {
    background-color: #128c7e;
}
